# zpool proxy ports
STRATUM_PORT=3333
WEB_PORT=8080

# zpool API settings
ZPOOL_API_BASE_URL="https://www.zpool.ca/api"
ZPOOL_API_USERNAME=""
ZPOOL_API_PASSWORD=""
ZPOOL_WALLET_ADDRESS=""

# Local dashboard Basic Auth (optional)
DASHBOARD_USERNAME=""
DASHBOARD_PASSWORD=""

# zpool payout monitor
ZPOOL_NOTIFY_PAYOUT=true
ZPOOL_POLL_SECONDS=60

# ntfy Block Found Notification
NTFY_SERVER="http://192.168.1.250:18080"
NTFY_TOPIC="zpool-proxy-blocks"
NTFY_USER="user"
NTFY_PASSWORD="pass"

# Upstream zpool stratum to forward miners to
ZPOOL_STRATUM_HOST="sha256.mine.zpool.ca"
ZPOOL_STRATUM_PORT=3256
ZPOOL_STRATUM_USERNAME=""
ZPOOL_STRATUM_PASSWORD="c=BTC"
